In [4]:
import pandas as pd

file_path = "GSE23528_series_matrix.txt"
num_lines_to_read = 10  # Number of lines to read for initial inspection

with open(file_path, 'r') as file:
    preview_lines = [file.readline().strip() for _ in range(num_lines_to_read)]

# testing
preview_lines

['!Series_title\t"Light/dark- and temperature-regulated transcriptional rhythms in adult Caenorhabditis elegans"',
 '!Series_geo_accession\t"GSE23528"',
 '!Series_status\t"Public on Sep 01 2010"',
 '!Series_submission_date\t"Aug 09 2010"',
 '!Series_last_update_date\t"Jul 06 2016"',
 '!Series_pubmed_id\t"20967231"',
 '!Series_summary\t"Most organisms have an endogenous circadian clock that is synchronized to environmental signals such as light and temperature. Although circadian rhythms have been described in the nematode C. elegans at the behavioral level, these rhythms appear to be relatively non-robust. Moreover, in contrast to other animal models, no circadian transcriptional rhythms have been identified. Thus, whether this simple nematode contains a bona fide circadian clock remains an open question."',
 '!Series_summary\t"We used microarray experiments to identify light- and temperature-regulated transcriptional rhythms in C. elegans, and show that subsets of these transcripts are regulated in a circadian manner. In addition, we find that light and temperature also globally drive the expression of many genes, indicating that C. elegans exhibits systemic responses to these stimuli."',
 '!Series_overall_design\t"Populations of growth-synchronized wild-type C. elegans L1 larvae were entrained for 5 days until adulthood to 12:12 hr light/dark (LD) cycles (500-1000 lux) at a constant temperature of 18°C, or for 4 days to 12:12 hr temperature cycles (25:15°C - warm/cold or WC) in constant darkness. RNA was collected every 4 hrs during the last entrainment and the subsequent free-running days and analyzed via hybridization of Affymetrix GeneChips. L4 larvae were transferred to FUDR-containing plates to inhibit embryonic development."',
 '!Series_type\t"Expression profiling by array"']

In [8]:
import pandas as pd

# Initialize variables to keep track of where the metadata ends
metadata_end_line = 0

with open(file_path, 'r') as file:
    for line_number, line in enumerate(file):
        if not line.startswith('!'):
            metadata_end_line = line_number
            break

df = pd.read_csv(file_path, delimiter='\t', skiprows=range(0, metadata_end_line), index_col=0)

df.head()

/tmp/ipykernel_2118308/189440043.py:12: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, delimiter='\t', skiprows=range(0, metadata_end_line), index_col=0)

,"Adult at T2 in LD, time-series experiment 3","Adult at T6 in LD, time-series experiment 3","Adult at T10 in LD, time-series experiment 3","Adult at T14 in LD, time-series experiment 3","Adult at T18 in LD, time-series experiment 3","Adult at T22 in LD, time-series experiment 3","Adult at T26 in DD, time-series experiment 2","Adult at T30 in DD, time-series experiment 2","Adult at T34 in DD, time-series experiment 2","Adult at T38 in DD, time-series experiment 2",...,"Adult at T10 in WC, time-series experiment 6","Adult at T14 in WC, time-series experiment 6","Adult at T18 in WC, time-series experiment 6","Adult at T22 in WC, time-series experiment 6","Adult at T26 in CC, time-series experiment 6","Adult at T30 in CC, time-series experiment 6","Adult at T34 in CC, time-series experiment 6","Adult at T38 in CC, time-series experiment 6","Adult at T42 in CC, time-series experiment 6","Adult at T46 in CC, time-series experiment 6"
!Sample_title,,,,,,,,,,,,,,,,,,,,,
!Sample_geo_accession,GSM589315,GSM589316,GSM589317,GSM589318,GSM589319,GSM589320,GSM589321,GSM589322,GSM589323,GSM589324,...,GSM589400,GSM589401,GSM589402,GSM589403,GSM589404,GSM589405,GSM589406,GSM589407,GSM589408,GSM589409
!Sample_status,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,...,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010,Public on Sep 01 2010
!Sample_submission_date,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,...,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010
!Sample_last_update_date,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,...,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010,Aug 31 2010
!Sample_type,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,...,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA

In [10]:
# drop rows that appear to be additional metadata (rows starting with '!')
df_cleaned = df.drop(df.index[df.index.str.startswith('!')])

# clean data
df_cleaned = df_cleaned.apply(pd.to_numeric, errors='coerce')

df_cleaned.head()

,"Adult at T2 in LD, time-series experiment 3","Adult at T6 in LD, time-series experiment 3","Adult at T10 in LD, time-series experiment 3","Adult at T14 in LD, time-series experiment 3","Adult at T18 in LD, time-series experiment 3","Adult at T22 in LD, time-series experiment 3","Adult at T26 in DD, time-series experiment 2","Adult at T30 in DD, time-series experiment 2","Adult at T34 in DD, time-series experiment 2","Adult at T38 in DD, time-series experiment 2",...,"Adult at T10 in WC, time-series experiment 6","Adult at T14 in WC, time-series experiment 6","Adult at T18 in WC, time-series experiment 6","Adult at T22 in WC, time-series experiment 6","Adult at T26 in CC, time-series experiment 6","Adult at T30 in CC, time-series experiment 6","Adult at T34 in CC, time-series experiment 6","Adult at T38 in CC, time-series experiment 6","Adult at T42 in CC, time-series experiment 6","Adult at T46 in CC, time-series experiment 6"
!Sample_title,,,,,,,,,,,,,,,,,,,,,
ID_REF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171720_x_at,-0.346707,-0.892486,-1.061551,0.010031,0.503689,1.086692,1.146750,0.041813,0.137555,-1.090880,...,-0.853884,-0.618412,0.292500,0.202181,1.099854,0.591673,0.539534,0.128856,0.878563,0.381256
171721_x_at,-0.059862,-0.086702,0.125833,0.356162,0.138460,-0.296441,-0.845050,0.065583,-0.822529,1.222528,...,-0.407449,0.514242,0.069473,0.400159,0.159476,0.354269,0.123596,-0.152538,-0.204945,-0.013559
171722_x_at,0.242218,0.122892,0.705894,0.420216,-0.105576,-0.832196,-0.464339,0.445845,0.280940,0.329925,...,0.828557,0.708745,0.048462,0.223978,-1.485171,-1.010402,-0.491434,-0.489172,-0.237561,0.360360
171723_x_at,0.028390,0.001978,-0.015652,0.025031,-0.005300,-0.024191,-0.079005,0.051667,-0.182838,0.231489,...,-0.024555,0.110220,-0.066060,0.047113,0.084057,-0.060114,0.049373,0.023097,0.118126,0.003068

In [11]:
data_shape = df_cleaned.shape
data_summary